
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		
		<script src="jquery.min.js"></script>
		<script src="vue.js"></script>
		<!-- 引入组件库 -->
		<script src="element.js"></script>
	</head>
	<body>
		<div id='div'>
			<input type="text" v-model="record"/>
			<button @click="start()">提交</button>
			<div>
				<!-- <table border="1px solid black" v-show="shopShow">
					<tr>
						<td>记录名</td>
						<td>包名</td>
						<td>文件</td>
						<td>状态</td>
						<td>更新类型</td>
						<td>更新时间</td>
					</tr>
					<tr v-for="item in items">
						<td>{{item.record}}</td>
						<td>{{item.jarName}}</td>
						<td>{{item.fileName}}</td>
						<td>{{item.status}}</td>
						<td>{{item.type}}</td>
						<td>{{item.date}}</td>
					</tr>
				</table> -->
				<p v-show="shopShow" v-for="item in items">当前记录名：{{item.recordName}}，当前jar包：{{item.packageName}}，文件路径：{{item.fileName}}，
				当前更新状态：{{item.status}}，当前更新类型：{{item.type}}，当前更新日期：{{item.date}}</p>
			</div>
			
		</div>
	</body>
	<script>
		new Vue({
		// DOM 元素，挂载视图模型，
			el: "#div",
			data:{
				record:'',
				items: [{
					record: '',
					jarName:'',
					fileName: '',
					status: '',
					type: '',
					date: ''
				}],
				shopShow: false
			},
			// 定义方法，用于事件交互时使用的函数 
			methods: {					
				start(){
					$.get("/test/selectAll?record="+this.record).then(res =>{
						this.items = res;
						console.log(this.items);
						this.shopShow = true;
					});
				}
			}
		});

	</script>
</html>
