<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--日志目录-->
    <property name="LOG_DIR" value="logs"/>
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%C:%L] %-5level  %msg%n"/>

    <!--控制台Appender-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--整个工程的日志-->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/info.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- 每个日志文件最大为20M，保持30天-->
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--过滤，只输出error级别日志-->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- 每个日志文件最大为20M，保持30天-->
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <!--只记录error级别的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <!--控制台输出-->
        <appender-ref ref="console"/>
        <!--日志全量，文件输出-->
        <appender-ref ref="info"/>
        <!--error日志，文件输出-->
        <appender-ref ref="error"/>
    </root>


</configuration>